#Exclude file with .class and .vscode using gitignore
*.class
.vscode
*.env
#Exlude folder target
target/

#Exclude file DbUtils.java, Constants.java, LoginController.java
DbUtils.java
Constants.java 
LoginController.java
